
header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/admin/dashboard") ADMIN
            .col-9
                .inner-actions
                    a.btn.btn-danger.btn-sm(href=`${prefixAdmin}/auth/logout`) Đăng xuất
                    a(
                        href =`${prefixAdmin}/my-account`
                        class="btn btn-primary btn-sm mr-2"
                    ) #{user.fullName}
                
